In [19]:
import pandas as pd

In [27]:
df=pd.read_csv('global_temperature_anomaly.csv', skiprows=6)

In [28]:
df

     Year  Temp
0    1880 -0.12
1    1881 -0.07
2    1882 -0.07
3    1883 -0.15
4    1884 -0.21
5    1885 -0.22
6    1886 -0.21
7    1887 -0.25
8    1888 -0.15
9    1889 -0.10
10   1890 -0.33
11   1891 -0.25
12   1892 -0.30
13   1893 -0.31
14   1894 -0.28
15   1895 -0.22
16   1896 -0.09
17   1897 -0.12
18   1898 -0.26
19   1899 -0.12
20   1900 -0.07
21   1901 -0.14
22   1902 -0.25
23   1903 -0.34
24   1904 -0.42
25   1905 -0.29
26   1906 -0.22
27   1907 -0.37
28   1908 -0.44
29   1909 -0.43
..    ...   ...
107  1987  0.37
108  1988  0.37
109  1989  0.29
110  1990  0.43
111  1991  0.40
112  1992  0.25
113  1993  0.28
114  1994  0.34
115  1995  0.45
116  1996  0.32
117  1997  0.52
118  1998  0.63
119  1999  0.44
120  2000  0.43
121  2001  0.55
122  2002  0.60
123  2003  0.61
124  2004  0.58
125  2005  0.66
126  2006  0.61
127  2007  0.61
128  2008  0.54
129  2009  0.64
130  2010  0.70
131  2011  0.58
132  2012  0.62
133  2013  0.67
134  2014  0.74
135  2015  0.91
136  2016  0.95

[137 rows x 2 columns]

In [34]:
xvalues = df['Year'].values
yvalues = df['Temp'].values

In [ ]:
# Exercise: use the xvalues and the yvalues to plot the global temperature anomaly versus time